/* Pseudo-classe :not()*/

.pai .lista li:first-child {
    background-color: red;  
}

p:not(.meio) {
    color: blue;
}

input:checked + p {
    background: red;
}

input:not(:checked) + p {
    background: yellow;
}