ul li:nth-child(odd) {
    background-color: rebeccapurple;
}

ul li:nth-child(even) {
    background-color: darkcyan;
}

ul li:nth-child(3n) {
    background-color: yellow;
}

ul li:nth-child(3n+5) {
    background-color:  red;
}